
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title id="top">My Music</title>
		<meta name="description" content="music files viewer">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="main.js"></script>
	</head>
	<body>
		<header>
		<h1>SECURE PAGE</h1>
		<a href="/logout">Log out</a>
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
		<main>
		<h2>Uploaded songs</h2>

		<p><a href="/secure/upload">Upload a file</a></p>
	<table>
		<tr>
      <th>Song Name</th><th>Artist</th><th>Album Art</th><th>Duration</th>
		</tr>
		{{#each records}}
		<tr>
			<td>{{this.trackname}}</td>
			<td>{{this.artistname}}</td>
			<td><img src="5009CEM/public/avatars/{{this.albumart}}" /></td>
			<td>{{this.duration}}</td>
		</tr>
		{{/each}}
		<tr>
			
			
			 {{#with data}}
      <td> {{title}} </td><td>{{artist}}</td><td>{{duration}}</td>

    {{/with}}
			
		
		
		</tr>
			</table>
		</main>
	</body>
</html>
